@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  background-color: white;
  line-height: 1.4;
  color: #222222;
}
.wrap {
  width: 1020px;
  margin: 0 auto;
}

/* 버튼 */
.prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.prev img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.next {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.next img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0px;
}

.pause {
  width: 40px;
  height: 40px;
}
.pause img {
  width: 40px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0px;
}

:root {
  /* 색 */
  --color-font: #242424;
  --color-font1: #555;
  --color-font2: #8a8a8a;
  --color-font3: #bfbfbf;
  --color-oliveyoung: #a6cd48;
  --color-price: #e22f2f;
  --color-today: #f374b7;
  --color-sale: #f65c60;
  --color-new: #4cc9c2;
  --color-one: #ff8942;
  --color-give: #6fcff7;
  --color-background: #f7f7f7;

  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

/* 오늘드림 */
.today {
  width: 70px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--color-today);
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: var(--font-bold);
}

/* 쿠폰 */
.coupon {
  width: 44px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--color-oliveyoung);
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: var(--font-bold);
}

/* 세일 */
.sale {
  width: 44px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--color-sale);
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: var(--font-bold);
}

/* 증정 */
.give {
  width: 44px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--color-give);
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: var(--font-bold);
}

/* 베스트 */
.best {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  outline: 2px solid var(--color-sale);
  line-height: 50px;
  text-align: center;
  color: var(--color-sale);
  font-size: 16px;
  font-weight: var(--font-bold);
  background-color: white;
}

/* 눌러서 더보기 버튼 */
.another {
  display: block;
  width: 330px;
  height: 40px;
  margin: 0 auto;
  outline: 1px solid var(--color-font3);
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}
.another span:last-child {
  color: var(--color-font3);
}
