.whereiam {
  width: 1020px;
  height: 35px;
  border-bottom: 1px solid var(--color-font3);
  padding-top: 7px;
  margin-bottom: 38px;
}
.whereiam ul {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-font3);
}
.whereiam ul li {
  display: flex;
  align-items: center;
}
.home {
  width: 20px;
  height: 20px;
}
.home img {
  width: 20px;
  height: 62px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.next_loc {
  width: 8px;
  height: 14px;
  margin-left: 10px;
}
.next_loc img {
  width: 20px;
  height: 62px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.whereiam ul li .down {
  margin-left: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid var(--color-font3);
  position: relative;
}
.down img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  */
.contain {
  display: flex;
  gap: 60px;
  width: 1020px;
  height: 800px;
}

.section,
.aside {
  width: 480px;
  height: 800px;
}

.img_show1 {
  width: 480px;
  height: 480px;
  overflow: hidden;
}
.img_show1 .item {
  position: relative;
}
.img_show1 .item img {
  display: block;
  width: 480px;
  height: 480px;
}
.img_show1 .item:last-child {
  display: none;
}

.img_show2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 45px;
}

.img_show2 .item {
  width: 80px;
  height: 80px;
}

.img_show2 .item img {
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid transparent;
}
.img_show2 .item.on img {
  border: 1px solid var(--color-font);
}

.review_star {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review_star .star span {
  padding: 0 7px;
}
.review_star .sns {
  width: 112px;
  height: 32px;
}
.review_star .sns img {
  position: absolute;
  width: 147px;
  height: 32px;
}

/* 오른쪽 */
.aside h2 {
  font-weight: var(--font-bold);
  font-size: 26px;
  margin: 10px 0;
}
.aside > p {
  color: var(--color-font3);
  font-size: 14px;
}

.aside .price_section {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.aside .price_section span:first-child {
  color: var(--color-font2);
  text-decoration: line-through;
  margin-right: 10px;
}
.aside .price_section .real {
  color: var(--color-price);
  font-weight: var(--font-bold);
  font-size: 24px;
}
.aside .price_section .benefit {
  font-size: 14px;
  margin-left: 20px;
}
.aside .price_section .benefit a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.aside .price_section .benefit img {
  display: block;
  width: 12px;
  height: 12px;
}

.aside .etc {
  display: flex;
}
.aside .etc div {
  width: 72px;
  height: 24px;
  font-size: 14px;
}
.viewer {
  font-size: 14px;
  color: var(--color-sale);
  margin-top: 10px;
}
.viewer img {
  width: 24px;
  height: 16px;
}

.delivery {
  margin-top: 20px;
  border-bottom: 1px solid var(--color-font3);
  margin-bottom: 15px;
}
.delivery .title {
  display: flex;
  font-weight: var(--font-bold);
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.delivery .de_ex > div {
  display: flex;
  margin-bottom: 7px;
}
.delivery .de_ex > div:last-child {
  margin-bottom: 15px;
}
.delivery .de_ex .left {
  color: var(--color-font1);
  font-weight: var(--font-bold);
  width: 76px;
  height: fit-content;
  margin-right: 10px;
}
.delivery .de_ex .left span {
  float: right;
}

.delivery .de_ex .right {
  color: var(--color-font1);
}
.buy_benefit {
  width: 100%;
  border-bottom: 1px solid var(--color-font3);
}
.buy_benefit h3 {
  margin-bottom: 10px;
}
.buy_benefit .bb_ex div {
  margin-bottom: 7px;
}
.buy_benefit .bb_ex > div:last-child {
  margin-bottom: 15px;
}

.buy_btn {
  width: 480px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--color-font3);
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--color-background);
  font-size: 16px;
  font-weight: var(--font-bold);
}
.buy_btn .pm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 32px;
  border: 1px solid var(--color-font3);
  border-radius: 10px;
  background-color: white;
}
.buy_btn .pm div {
  width: 30px;
  height: 30px;
  display: table;
  background-color: var(--color-background);
}
.buy_btn .pm div img {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 5 px;
}
.buy_btn .pm .minus {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid var(--color-font3);
}
.buy_btn .pm .plus {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid var(--color-font3);
}

.pay .total {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--color-price);
  width: 100%;
  height: 40px;
  border-bottom: 3px solid var(--color-price);
}
.pay .total span:last-child {
  float: right;
}
.pay > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: max-content;
  color: var(--color-font1);
  margin: 10px 0 20px 0;
}
.pay > a input {
  width: 20px;
  height: 20px;
}
.pay .pay_btn {
  display: flex;
  gap: 13px;
  font-size: 20px;
}
.pay .pay_btn .pb1 a {
  display: block;
  border: 1px solid var(--color-price);
  width: 140px;
  height: 65px;
  line-height: 65px;
  text-align: center;
}
.pay .pay_btn .pb1.basket {
  color: var(--color-price);
}
.pay .pay_btn .pb1.now_purchase {
  color: white;
  background-color: var(--color-price);
}
.pay .pay_btn .pb2 a {
  display: block;
  border: 1px solid var(--color-price);
  background-color: var(--color-price);
  width: 80px;
  height: 65px;
  line-height: 80px;
  text-align: center;
}
.pay .pay_btn .pb2.like a {
  border-color: var(--color-font3);
  background-color: white;
}

/* 브랜드 바로가기 */
.brand_link {
  width: 1020px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid var(--color-font3);
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.brand_link a {
  display: flex;
  align-items: center;
  width: 510px;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
}

.brand_link .offline img {
  display: block;
  width: 36px;
  height: 31px;
  margin-right: 10px;
}
.brand_link .delight img {
  display: block;
  width: 100px;
  height: 77px;
  border-left: 1px solid var(--color-font3);
}

/* 상품설명 구매정보.. */
.product_main {
  position: relative;
  margin-top: 45px;
}
.product_main::after {
  content: "";
  position: absolute;
  top: 53px;
  width: 100%;
  height: 3px;
  background-color: var(--color-oliveyoung);
  z-index: -1;
}
.select {
  display: flex;
}
.select a {
  display: block;
  width: 255px;
  height: 56px;
  line-height: 56px;
  font-size: 18px;
  background-color: var(--color-background);
  text-align: center;
  margin-bottom: 35px;
  border-bottom: 3px solid var(--color-oliveyoung);
}
.select a.on {
  font-weight: var(--font-bold);
  background-color: white;
  border: 3px solid var(--color-oliveyoung);
  position: relative;
}
.select a.on::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: white;
}

.product_main .content > div {
  width: 1020px;
  height: fit-content;
  text-align: center;
  margin-bottom: 55px;
}
.product_main .content .first > a {
  display: inline-block;
  margin-bottom: 20px;
}

/* 이런 디저트는 어때요 */
.recommend {
  border-top: 3px solid var(--color-font);
  border-bottom: 3px solid var(--color-font3);
  padding-top: 35px;
  width: 100%;
  height: 240px;
  margin-top: 55px;
}
.recommend .title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;
}
.recommend .title h3 {
  font-weight: var(--font-bold);
  font-size: 20px;
}
.recommend .title a {
  color: var(--color-font2);
}

.recom_product_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
}
.recom_product_section .before,
.after {
  width: 40px;
  height: 100%;
  background-image: url(../images/image_03/icon_recom_slide.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}
.recom_product_section .after {
  transform: scaleX(-1);
}
.recom_product_slider {
  width: 940px;
  height: 110px;
}
.recom_procuct {
  width: 300px;
  height: 110px;
}
.recom_procuct img {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 5px;
}
.recom_procuct .re_ex {
  display: block;
  float: left;
  width: 200px;
  height: 100%;
  padding: 8px 0 8px 8px;
  text-align: left;
}
.recom_procuct .re_ex .name {
  width: 192px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
}
.recom_procuct .re_ex .price {
  color: var(--color-price);
  font-size: 16px;
  font-weight: var(--font-bold);
  margin-top: 3px;
  margin-bottom: 5px;
}
.recom_procuct .re_ex .price span {
  font-size: 14px;
  color: var(--color-font3);
  text-decoration: line-through;
}
.recom_procuct .re_ex .etc {
  display: flex;
}
.recom_procuct .re_ex .today,
.sale {
  display: block;
  font-size: 14px;
}

.first .event {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.first .event a {
  font-size: 16px;
  color: var(--color-font1);
}
.first .event a img {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 15px;
}

/* 나중에 효과넣은것 */
.whereiam ul li .down {
  cursor: pointer;
}
.whereiam ul li span {
  width: fit-content;
  height: 26.5px;
  line-height: 26.5px;
}
.whereiam > ul > li {
  position: relative;
}

.whereiam .mini_cate {
  border: 1px solid var(--color-font3);
  font-size: 12px;
  position: absolute;
  top: 26.5px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: fit-content;
  padding: 10px;
  background-color: white;
  z-index: 1;
  visibility: hidden;
}
.whereiam .mini_cate li a {
  display: block;
  text-align: left;
  width: 100px;
  height: fit-content;
}
.whereiam .mini_cate li:hover a {
  text-decoration: underline;
}

/* second */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: var(--color-font3);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px 15px;
  word-break: normal;
  border-left: none;
  border-right: none;
}
.tg th {
  border-color: var(--color-font3);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px 15px;
  word-break: normal;
  border-left: none;
  border-right: none;
}
.tg .tg-0pky {
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  background-color: var(--color-background);
}
.tg .tg-1pky {
  font-weight: 400;
  text-align: left;
  /* vertical-align: top; */
}

.second h2 {
  text-align: left;
  color: var(--color-oliveyoung);
  margin: 20px 0;
}

/* third */
.third .score {
  width: 100%;
  height: 200px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  border-top: 2px solid var(--color-font1);
  border-bottom: 2px solid #ddd;
}

.third .score .face {
  margin: 50px 80px;
  background-image: url(../images/image_03/face_grade_1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: relative;
}

.third .score .face span {
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: var(--font-bold);
}

.third .score .score_detail {
  width: 760px;
  height: 200px;
  border-left: 2px solid #ddd;
  display: flex;
}

.third .score .score_detail .sd {
  width: 320px;
  height: 200px;
  padding: 30px 70px;
}
.third .score .score_detail .sd h2 {
  margin: 20px 0;
}
.third .score .score_detail .sd h2 span {
  font-size: 36px;
  font-weight: var(--font-black);
}

.third .score .score_detail .sd .star {
  background-image: url(../images/image_03/4point5.png);
  width: 180px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.third .score .plot {
  display: flex;
  width: 440px;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
}
.third .score .plot .bar .gray_bar {
  width: 7px;
  height: 100px;
  margin: 10px auto;
  background-color: #ddd;
  border-radius: 7px;
  position: relative;
}
.third .score .plot .bar .percent,
.tag {
  font-size: var(--font-medium);
}

.third .score .plot .bar.five .gray_bar::after {
  content: "";
  width: 7px;
  height: 72%;
  border-radius: 7px;
  background-color: var(--color-sale);
  position: absolute;
  bottom: 0;
  left: 0;
}
.third .score .plot .bar.four .gray_bar::after {
  content: "";
  width: 7px;
  height: 16%;
  border-radius: 7px;
  background-color: var(--color-sale);
  position: absolute;
  bottom: 0;
  left: 0;
}
.third .score .plot .bar.three .gray_bar::after {
  content: "";
  width: 7px;
  height: 9%;
  border-radius: 7px;
  background-color: var(--color-sale);
  position: absolute;
  bottom: 0;
  left: 0;
}
.third .score .plot .bar.two .gray_bar::after {
  content: "";
  width: 7px;
  height: 2%;
  border-radius: 7px;
  background-color: var(--color-sale);
  position: absolute;
  bottom: 0;
  left: 0;
}
.third .score .plot .bar.one .gray_bar::after {
  content: "";
  width: 7px;
  height: 1%;
  border-radius: 7px;
  background-color: var(--color-sale);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* state */
.third .state {
  width: 100%;
  height: 200px;
  display: flex;
  gap: 30px;
  align-items: center;
  border-bottom: 2px solid #ddd;
}
.third .state > div {
  width: 320px;
  height: 200px;
  padding: 25px 0;
}
.third .state .state_name {
  font-size: 16px;
  color: var(--color-new);
  padding: 7px 20px;
  font-weight: var(--font-bold);
  width: fit-content;
  border: 2px solid var(--color-new);
  border-radius: 20px;
  margin-bottom: 15px;
}
.third .state .state_score {
  width: 100%;
  height: fit-content;
}
.third .state .state_score .ss {
  display: flex;
  align-items: center;
}
.third .state .state_score .ss > div {
  margin-bottom: 10px;
  color: var(--color-font2);
}
.third .state .state_score .ss .ss_title {
  width: 140px;
  text-align: left;
}
.third .state .state_score .ss .ss_bar {
  width: 120px;
  height: 7px;
  background-color: #ddd;
  border-radius: 7px;
  margin-right: 20px;
  position: relative;
}
.third .state .state_score .ss .ss_percent {
  text-align: right;
  font-weight: var(--font-medium);
  color: var(--color-font1);
}

.third .state .state_score .ss .ss_bar.ss1-1::after {
  content: "";
  width: 73%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss1-2::after {
  content: "";
  width: 27%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss1-3::after {
  content: "";
  width: 0%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss2-1::after {
  content: "";
  width: 59%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss2-2::after {
  content: "";
  width: 41%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss2-3::after {
  content: "";
  width: 1%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss3-1::after {
  content: "";
  width: 59%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss3-2::after {
  content: "";
  width: 35%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}
.third .state .state_score .ss .ss_bar.ss3-3::after {
  content: "";
  width: 6%;
  height: 7px;
  border-radius: 7px;
  background-color: var(--color-new);
  position: absolute;
  top: 0;
  left: 0;
}

.third .review .align {
  display: flex;
  margin-top: 30px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid var(--color-font3);
}
.third .review .align a img {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.third .review .align .sequence a {
  color: var(--color-font2);
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 0 15px;
  float: left;
  border-right: 1px solid var(--color-font3);
}
.third .review .align .sequence a:last-child {
  border-right: none;
}
.third .review .align .sequence a.on {
  color: var(--color-font);
  font-weight: var(--font-bold);
}

.third .review .align .check a {
  border: 1px solid var(--color-font);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-left: 30px;
}

/* input커스텀 */
.review .check label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.review .check label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.review .check label .checkmark {
  position: absolute;
  top: -16px;
  left: -7px;
  height: 52px;
  width: 52px;
  background-image: url(../images/image_03/sp_product.png);
  background-position: 0px -1264px;
  transform: scale(40%);
}

/* When the checkbox is checked,*/
.review .check label input:checked ~ .checkmark {
  background-position: 0px -1320px;
}

/* */

.review_contain .keyword {
  margin: 20px 0;
  height: 50px;
  background-color: var(--color-background);
}
.review_contain .keyword ul {
  display: flex;
  align-items: center;
  justify-content: left;
  width: fit-content;
  height: 50px;
  font-size: 14px;
  color: var(--color-font2);
}
.review_contain .keyword ul li {
  padding: 0px 10px;
  border-right: 1px solid var(--color-font2);
}
.review_contain .keyword ul li:last-child {
  border-right: none;
}
.review_contain .keyword ul li.on {
  color: var(--color-new);
  font-weight: var(--font-medium);
}

/* 리뷰 */
.review_item {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-font2);
  display: flex;
}

.review_item .person {
  width: 200px;
  height: fit-content;
  display: flex;
  gap: 15px;
  align-items: center;
}
.review_item .person .photo {
  width: 50px;
  height: 50px;
}
.review_item .person .photo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
.review_item .person .name a {
  display: block;
}
.review_item .person .name .id {
  text-align: left;
  font-size: 20px;
  font-weight: var(--font-bold);
}
.review_item .person .name .top {
  padding: 3px;
  background-color: var(--color-background);
  margin-top: 5px;
  text-align: center;
}

.review_content {
  text-align: left;
  flex: 1;
}
.review_content .star {
  display: flex;
  align-items: center;
}
.review_content .star .star_point {
  width: 112px;
  height: 20px;
  background-image: url(../images/image_03/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  position: relative;
}
.review_content .star .star_point .mypoint {
  width: 89.6px;
  height: 20px;
  background-image: url(../images/image_03/ico_review_point_new_on.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.review_content .star .star_point .mypoint.all {
  width: 112px;
}
.review_content .star .day {
  font-size: 18px;
  color: var(--color-font2);
}

.review_content .review_state {
  margin: 10px 0;
  font-size: 16px;
  font-weight: var(--font-medium);
}
.review_content .review_state ul {
  display: flex;
}
.review_content .review_state ul li {
  padding: 0 15px;
  border-right: 1px solid var(--color-font);
}
.review_content .review_state ul li:first-child {
  padding-left: 0;
}
.review_content .review_state ul li:last-child {
  border-right: none;
}
.review_content .review_state ul li span {
  color: var(--color-new);
  margin-right: 15px;
}

.review_content .myreview p {
  font-size: 16px;
  color: var(--color-font1);
  line-height: 1.6;
  margin-bottom: 20px;
}

.review_content .myreview .photos {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.review_content .myreview .photos .photos_item {
  width: 200px;
  height: 200px;
  position: relative;
}
.review_content .myreview .photos .photos_item img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.review_content .myreview .photos .photos_item .closeup {
  background-image: url(../images/image_03/closeup.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

/* 사진 확대후 슬릭 */
.slick-dots {
  bottom: 10px;
}
.arrows div {
  width: 40px;
  height: 80px;
  background-color: var(--color-font2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.arrows div img {
  display: block;
  width: 24px;
  height: 39px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrows .prev {
  left: 0;
}
.arrows .next {
  right: 0;
}

/* q&a */
.q-a {
  font-size: 16px;
}
.q-a_top {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-font2);
  border-bottom: 1px solid var(--color-font3);
}
.q-a_top .inquiry {
  display: block;
  width: fit-content;
  padding: 7px 10px 7px 40px;
  background-color: var(--color-oliveyoung);
  border-radius: 5px;
  color: white;
  background-image: url(../images/image_03/ico_inquiry.png);
  background-position: 12%;
  background-size: 27%;
  background-repeat: no-repeat;
}

.q-a_contain {
  width: 100%;
  height: fit-content;
  text-align: left;
}

.q-a_item .q_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--color-font3);
}
.q-a_item .q_main .a_state {
  width: 70px;
  height: 30px;
  background-color: var(--color-background);
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  font-size: 14px;
  color: var(--color-font1);
}
.q-a_item .q_main .a_state.done {
  background-color: var(--color-oliveyoung);
  color: white;
}
.q-a_item .q_main .title {
  font-size: 16px;
  color: var(--color-font1);
  width: 640px;
  height: fit-content;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.q-a_item .q_main .id {
  width: 100px;
  text-align: center;
  color: var(--color-font1);
}
.q-a_item .q_main .date {
  width: 120px;
  text-align: right;
  color: var(--color-font1);
}

/* 누르면 나오는 Q&A */
.q-a_content {
  display: none;
  position: relative;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-font3);
}
.q-a_content .mark {
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 42px;
  text-align: center;
}
.q-a_content .mark p {
  margin-bottom: 50px;
}
.q-a_content .mark p:first-child {
  color: var(--color-font1);
}
.q-a_content .mark p:last-child {
  color: var(--color-oliveyoung);
}
.q-a_content .q_section,
.a_section {
  margin-left: 220px;
  margin-right: 50px;
}
.q-a_content .q_section {
  height: fit-content;
  width: 750px;
  line-height: 1.5;
  padding: 40px 0;
  border-bottom: 1px solid var(--color-font3);
}
.q-a_content .a_section {
  width: 750px;
  height: fit-content;
  padding: 40px 0;
}
